member-detail-page {

  $member-avatar-size: 5rem;

  ion-avatar {
    min-width: $member-avatar-size;
    min-height: $member-avatar-size;

    img {
      width: $member-avatar-size;
      height: $member-avatar-size;
      border-radius: 50%;
    }
  }

  p[color=primary] {
    color: color($colors, primary);
  }

}

.md member-detail-page {

  a[ion-item] a[ion-button] {
    height: 68px;
    padding: 9px 16px;
    margin: 0 -8px 0 0;

    ion-icon {
      font-size: 2.4rem;
    }
  }

}
