csr-forum-message {
  .post-text {
    color: #000;
    white-space: pre-wrap;

    blockquote {
      border-left: 3px solid #ddd;
      padding-left: 10px;
      margin: 10px 0 0;
    }

    img {
      background-color: #eee;
    }
  }
}
