
.map-page ion-content {
  background: rgb(229, 227, 223);
}

.map-page ion-list {
  margin-bottom: 0;
}

.map-page #map {
  width: 100%;
  height: calc(100% - 90px);
  opacity: 0;
  transition: opacity 150ms ease-in
}

.map-page #map.show-map {
  opacity: 1;
}
