.about-header {
  background-color: #f9f9f9;
  padding: 16px 11px;
  width: 100%;
  height: 277px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-header img {
  height: 191px;
  padding: 0;
}

.about-header h2 {
  font-family: "BrandonShadow";
  line-height: 36px;
  font-size: 36px;
  color: color($colors, lustrumred);
  text-transform: lowercase;
  padding: 0 10px;
  margin-bottom: 0;
}

.about-info p {
  color: #697072;
}
