
<ion-header>
  <ion-navbar primary>
    <ion-title>Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <div padding>
    <h4>{{ event.naam || event.titel }}</h4>
    <p><a *ngIf="event.locatie" [href]="getLocationUrl(event.locatie)">
      {{ event.locatie }}
    </a></p>
    <p subdued class="preserve-whitespace">{{ getDateTimes(event._meta.start, event._meta.end) }}</p>
    <p dark *ngIf="event.samenvatting" class="preserve-whitespace">{{ event.samenvatting }}</p>
    <p dark *ngIf="event.omschrijving" class="preserve-whitespace">{{ event.omschrijving }}</p>
    <p dark *ngIf="event.beschrijving" class="preserve-whitespace">{{ event.beschrijving }}</p>

    <div *ngIf="event._meta.category !== 'agenda'" [ngSwitch]="event._meta.present">
      <button *ngSwitchCase="false" (click)="join()" [disabled]="!isJoinable()">
        Aanmelden<span [hidden]="!processingAction">...</span>
      </button>
      <button *ngSwitchCase="true" (click)="leave()" [disabled]="!isLeaveable()">
        Afmelden<span [hidden]="!processingAction">...</span>
      </button>
    </div>
  </div>

  <ion-list [ngSwitch]="event._meta.category">
    <ion-item *ngSwitchCase="'maaltijd'">
      Inschrijvingen
      <ion-note item-right>
        {{ event.aantal_aanmeldingen }} van {{ event.aanmeld_limiet }}
      </ion-note>
    </ion-item>
    <ion-item *ngSwitchCase="'maaltijd'">
      Prijs
      <ion-note item-right>
        € {{ event.prijs }}
      </ion-note>
    </ion-item>
  </ion-list>

</ion-content>
