csr-alphabet-scroll {
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;

  div {
    display: flex;
    height: 100%;
    flex-flow: column;
    justify-content: center;
    padding: 20px 0;
  }

  a {
    flex: 1 0 14px;
    display: block;
    width: 18px;
    line-height: 14px;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
  }

  &[ion-fixed] {
    z-index: 9;
  }

  .ios & a {
    max-height: 17px;
  }
}
