<ion-header>
  <ion-navbar color="primary">
    <ion-title>Details</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="viewExternal()" *ngIf="event._meta.category === 'activiteit'">
        <ion-icon name="open" ios="ios-open-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <div padding>
    <h4>{{ event.naam || event.titel }}</h4>
    <p><a *ngIf="event.locatie" [csrMapsHref]="event.locatie">
      {{ event.locatie }}
    </a></p>
    <p class="text-light preserve-whitespace">{{ getDateTimes(event._meta.start, event._meta.end) }}</p>
    <p class="text-dark preserve-whitespace" *ngIf="event.samenvatting">{{ event.samenvatting }}</p>
    <p class="text-dark preserve-whitespace" *ngIf="event.omschrijving">{{ event.omschrijving }}</p>
    <p class="text-dark preserve-whitespace" *ngIf="event.beschrijving">{{ event.beschrijving }}</p>

    <div *ngIf="event._meta.category !== 'agenda'" [ngSwitch]="event._meta.present">
      <button ion-button *ngSwitchCase="false" (click)="join()" [disabled]="!isJoinable()">
        Aanmelden<span [hidden]="!processingAction">...</span>
      </button>
      <button ion-button *ngSwitchCase="true" (click)="leave()" [disabled]="!isLeaveable()">
        Afmelden<span [hidden]="!processingAction">...</span>
      </button>
    </div>
  </div>

  <ion-list [ngSwitch]="event._meta.category">
    <ion-item *ngSwitchCase="'maaltijd'">
      Inschrijvingen
      <ion-note item-end>
        {{ event.aantal_aanmeldingen }} van {{ event.aanmeld_limiet }}
      </ion-note>
    </ion-item>
    <ion-item *ngSwitchCase="'maaltijd'">
      Prijs
      <ion-note item-end>
        € {{ event.prijs }}
      </ion-note>
    </ion-item>
  </ion-list>

</ion-content>
