// http://ionicframework.com/docs/v2/theming/


// App Shared Variables
// --------------------------------------------------
// Shared Sass variables go in the app.variables.scss file
@import 'app.variables';


// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

$toolbar-md-background:                   color($colors, primary);
$toolbar-md-text-color:                   #fff;
$toolbar-md-active-color:                 #fff;
$toolbar-md-inactive-color:               #fff;
$toolbar-md-button-color:                 #fff;


// Ionic Material Design Sass
// --------------------------------------------------
// Custom App variables must be declared before importing Ionic.
// Ionic will use its default values when a custom variable isn't provided.
@import "ionic.md";


// App Shared Sass
// --------------------------------------------------
// All Sass files that make up this app goes into the app.core.scss file.
// For simpler CSS overrides, custom app CSS must come after Ionic's CSS.
@import 'app.core';


// App Material Design Only Sass
// --------------------------------------------------
// CSS that should only apply to the Material Design app

.search-overlay {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;

  .searchbar-input {
    height: 50px;
  }

  .searchbar-search-icon {
    display: none;
  }

  .searchbar-clear-icon {
    right: 0;
    width: 48px;
  }

  &.searchbar-has-value {
    .searchbar-clear-icon {
      display: block;
    }
  }

  .searchbar-md-cancel {
    display: inline-flex;
    left: 0;
    width: 47px;
    padding: 0 13px;
  }
}
