// http://ionicframework.com/docs/v2/theming/

// Ionic Shared Functions
// --------------------------------------------------
// Makes Ionic Sass functions available to your App

@import 'globals.core';

// App Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files. Setting
// variables before Ionic's Sass will use these variables rather than
// Ionic's default Sass variable values. App Shared Sass imports belong
// in the app.core.scss file and not this file. Sass variables specific
// to the mode belong in either the app.ios.scss or app.md.scss files.


// App Shared Color Variables
// --------------------------------------------------
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
// Both iOS and MD colors can be further customized if colors
// are different per mode.

$colors: (
  primary:         #1f5370,//#387ef5
  secondary:       #32db64,
  danger:          #f53d3d,
  light:           #f4f4f4,
  subdued:         #666,
  dark:            #000,
  lustrumgreen:    #98cd96,
  lustrumblue:     #1f5370, //#1d4d69
  lustrumdarkblue: #161a28,
  lustrumred:      #c32f2f,
  lustrumyellow:   #ffe9a3
);

$text-color:                 #000;
$paragraph-color:            $text-color;
$link-color:                 color($colors, primary);
$background-color:           #fff;
$subdued-text-color:         #666;

$ripple-background-color:    #777; //color($colors, lustrumgreen);
