
<ion-header>
  <ion-navbar color="primary">
    <ion-title>De Jacht</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>

  <div *ngIf="!hunters" padding margin text-center>
    <ion-spinner></ion-spinner>
  </div>

  <ion-grid>
    <ion-row wrap>
      <ion-col width-25 *ngFor="let item of hunters; let i = index">
        <ion-card tappable (click)="goToMemberDetail(item)">
          <img [src]="'https://csrdelft.nl/plaetjes/pasfoto/' + item.uid + '.vierkant.png'">
          <div class="gone" *ngIf="!item.alive">
            <ion-icon name="close" color="lustrumred"></ion-icon>
          </div>
          <ion-card-header>
            {{ item.name }}
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
