csr-gotcha-page {
  ion-row {
    justify-content: center;
  }

  ion-card.card {
    position: relative;
    width: 100%;
    margin: 0;
  }

  ion-card-header.card-header {
    display: none;
    font-size: 1.4rem;
    padding: 8px 10px;
  }

  .gone {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    ion-icon {
      flex: 0 0 1px;
      font-size: 11rem;

      &:before {
        font-family: 'BrandonExtras';
        content: '+';
      }
    }
  }

  @media (min-width: 768px) {
    ion-grid {
      padding: 15px;
    }

    ion-col[width-25] {
      flex: 0 0 12.5%;
      max-width: 12.5%;
      padding: 15px;
    }

    ion-card-header.card-header {
      display: block;
    }
  }
}
