
<ion-header>
  <ion-navbar primary>
    <ion-title>Activiteiten</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>

  <div *ngIf="groups.length === 0 && failedToLoad === false" padding text-center>
    <ion-spinner></ion-spinner>
  </div>

  <ion-list class="event-list">

    <ion-item-group *ngFor="let group of groups">

      <ion-item-divider sticky light>
        <strong>{{ group.date }}</strong>
      </ion-item-divider>

      <button ion-item *ngFor="let event of group.events" (click)="goToEventDetail(event)" [attr.category]="event._meta.category | lowercase">
        <h3>{{ event.naam || event.titel }}</h3>
        <p>
          {{ event._meta.formattedListDate }}{{ event.locatie ? ': ' + event.locatie : '' }}
        </p>
      </button>

    </ion-item-group>

  </ion-list>

  <div padding text-center *ngIf="failedToLoad">
    <p>Het laden van de activiteiten is mislukt.</p>
    <button (click)="doRetryLoad()">
      Opnieuw proberen
    </button>
  </div>

  <div padding text-center *ngIf="!moreAvailable">
    <p>Geen activiteiten meer.</p>
  </div>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
