$categories: (
 maaltijd: color($colors, lustrumgreen),
 activiteit: color($colors, lustrumred),
 agenda: rgb(240, 240, 240)
);

@function auxiliary-categories() {
  @return map-remove($categories);
}

.event-list {
  margin-bottom: 0;

  [ion-item]:not([hidden]):last-of-type .item-inner {
    border-bottom: none;
  }

  @each $category, $value in auxiliary-categories() {
   [ion-item][category=#{$category}] ion-label {
     border-left: 2px solid $value;
     padding-left: 10px;
   }
  }
}

