<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      <span *ngIf="topic$ | async as topic">
        {{ topic.titel }}
      </span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content scrollDownOnLoad="true">

  <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite())" [enabled]="moreAvailable$ | async" position="top">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-list class="post-list" *ngIf="posts$ | async as posts; else loading">

    <ion-item *ngFor="let post of posts; trackBy:identify" text-wrap>
      <div item-start tappable (click)="goToMemberDetail(post.uid)">
        <img class="post-image" [attr.src]="'https://csrdelft.nl/plaetjes/pasfoto/' + post.uid + '.vierkant.png'">
      </div>
      <h3 class="post-author">{{ post.uid_naam }}</h3>
      <p class="post-date">
        {{ post.datum_tijd | csrDateCalendar: { sameDay: 'HH:mm', lastDay: '[Gisteren om] HH:mm', lastWeek: 'dddd [om] HH:mm', sameElse: 'D MMMM YYYY HH:mm' } }}
      </p>
      <csr-forum-message [text]="post.tekst | csrBBParse"></csr-forum-message>
    </ion-item>

  </ion-list>

  <ng-template #loading>
    <div padding margin text-center>
      <ion-spinner></ion-spinner>
    </div>
  </ng-template>

</ion-content>
