csr-forum-topic {

  .post-list {
    .item-block [item-start],
    .item-block [item-end] {
      align-self: flex-start;
    }

    &.list-ios > .item-block:last-child {
      border-bottom: none;
    }

    .item-block {
      padding-top: 10px;

      > .item-inner {
        padding-bottom: 10px;
      }
    }
  }

  .post-image {
    width: 40px;
    height: 40px;
    background-color: #eee;
    border-radius: 50%;
    overflow: hidden;
  }

  .post-author {
    font-weight: bold;
  }

  .post-date {
    margin-bottom: 12px;
  }

}
