forum-topic-page {

  .post-list {
    .item-block [item-left],
    .item-block [item-right] {
      align-self: flex-start;
    }

    ion-img {
      border-radius: 50%;
      overflow: hidden;
    }
  }

  .post-author {
    font-weight: bold;
  }

  .post-date {
    margin-bottom: 12px;
  }

  .post-text {
    color: #000;
    white-space: pre-wrap;

    blockquote {
      border-left: 3px solid #ddd;
      padding-left: 5px;
      margin-left: 0;
    }
  }

}
