@font-face {
  font-family: 'BrandonOne';
  src: url('../assets/fonts/brandonprinted-one-webfont.woff2') format('woff2'),
       url('../assets/fonts/brandonprinted-one-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BrandonShadow';
  src: url('../assets/fonts/brandonprintedtwo-shadow-webfont.woff2') format('woff2'),
       url('../assets/fonts/brandonprintedtwo-shadow-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BrandonExtras';
  src: url('../assets/fonts/brandonprinted-extras-webfont.woff2') format('woff2'),
       url('../assets/fonts/brandonprinted-extras-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
