.toolbar-ios ion-title {
  padding-left: 45px;
  padding-right: 45px;
}

ion-infinite-scroll.hideinf ion-infinite-scroll-content {
  display: none;
}

.item-block h2,
.item-block h3 {
  overflow: inherit;
  text-overflow: inherit;
}

a {
  cursor: pointer;
}

.item-divider {
  color: #000;
  background-color: #f4f4f4;
}
