
.brandon-icon {
  font-family: 'BrandonExtras';

  &:before {
    font-family: 'BrandonExtras';
  }

  &.key:before {
    content: '\004b';
  }

  &.huge {
    font-size: 144px;
  }
}

ion-icon.ion-ios-arrow-forward,
ion-icon.ion-md-arrow-forward {
  font-family: 'BrandonExtras';
  font-size: 3.4rem;
  margin-top: -10px;

  &:before {
    font-family: 'BrandonExtras';
    content: '\003e';
  }
}

ion-content {
  .button:not(.searchbar-ios-cancel) {
    font-family: 'BrandonOne', $font-family-base;
    text-transform: lowercase;

    .button-inner {
      padding-top: 3px;
    }
  }
}

.toolbar-title {
  font-family: 'BrandonOne', $font-family-base;
  text-transform: lowercase;
  padding-top: 4px;
}

.preserve-whitespace {
  white-space: pre-line;
}

.item-md h2 {
  overflow: inherit;
  text-overflow: inherit;
}
