csr-ranking {

  .list-md,
  .list-ios > .item-block:first-child {
    border-top: 1px solid #dedede;
  }

  .card .item.item-block .item-inner {
    border-bottom: 1px solid #dedede;
  }

  .card .item.item-block:last-child .item-inner {
    border-bottom: none;
  }

}
