$categories: (
  maaltijd: color($colors, lustrumgreen),
  activiteit: color($colors, lustrumred),
  agenda: rgb(240, 240, 240)
);

@function auxiliary-categories() {
  @return map-remove($categories);
}

csr-event-list {

  .event-list {
    margin-bottom: 0;

    @each $category, $value in auxiliary-categories() {
      [ion-item][category=#{$category}] ion-label {
        border-left: 2px solid $value;
        padding-left: 10px;
      }
    }
  }

  .item-divider-ios .label-ios {
    font-size: 1.4rem;
  }

  .item-divider {
    color: #000;
    background-color: #f4f4f4;
  }
}
